  <div class="d-flex justify-content-md-center align-items-center flex-column vh-100 bg-light">
    <h1><img src="http://montco.happeningmag.com/wp-content/uploads/2014/11/thankyou.png" alt="thanks" /></h1>
    <h1 class="text-truncate">For Registering For The Paint Night Event!</h1>
      <h5 class="text-truncate border border-dark p-3 bg-warning">See you on 08/13/2021 at 835,Brush Hollow Road. Westbury, NY @8 PM EST</h5>
      <%= link_to "Home", root_path, class: "btn bg-dark text-light" %>
  </div>
