  <div class="d-flex justify-content-md-center align-items-center flex-column vh-100">
    <h1>Thank You For Registering For Paint Night Event!</h1>
      <p class="lead">See you on 08/09/2021 at 835,Brush Hollow Road. Westbury, NY. @10 AM EST</p>
  </div>
