<div class="container">
  <% if user_signed_in? %>
    <h1 class="text-center p-5 text-truncate">Registerd Users For The Event</h1>
    <br/>
    <hr class="bg-dark" />
    <div class="container table-responsive py-5"> 
      <table class="table table-bordered table-hover">
        <thead class="thead-dark bg-dark text-light">
          <tr>
            <th>First name</th>
            <th>Last name</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
             <tr>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td> 
            </tr>
          <% end %>
          </tbody>
      </table>
    </div>
</div>
<% else %>
  <div class="d-flex justify-content-md-center align-items-center flex-column vh-100">
    <h1>Welcome To The Paint Night</h1>
      <p class="lead">Register yourself for this event and win big prizes.</p>
      <p> Event Details - 08/09/2021 at 835,Brush Hollow Road. Westbury, NY. @10 AM EST.</p>
      <p class="lead">
        <%= link_to "Register", new_user_registration_path, class:"btn btn-lg btn-secondary text-white" %> |
        <%= link_to "Sign In", new_user_session_path,class:"btn btn-lg btn-secondary text-white"%>
      </p>
  </div>
<% end %>

