  <div class="d-flex justify-content-md-center align-items-center flex-column vh-100">
           <p>We’re sorry but it appears that we can’t find the page you were looking for. </p>
      <p>Usually this occurs because of a page that previously existed was removed or you’ve mistyped the address.
      </p>
  </div>
  