@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

#cover {
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    /*align-items: center;*/
    position: relative;
}

.main-cover{
  font-family: 'Amatic SC', cursive;
}

#signup {
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}


body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
  color: #fff;
  background-color: #000;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors input[type=text],input[type=tel],[type=password],[type=email],[type=number]
{
     border: 1px solid red;
}

#error_explanation {
  width: 100%;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 33px auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
}

header {
  text-align: right;
}

main {
  align-items: flex-start
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 15px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  transition: opacity 1500ms;
}

.required-field::after {
  content: "*";
  color: red;
}

#background{
  position: fixed;
  top:  50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform:  translateX(-50%) translateY(-50%);
  transform:  translateX(-50%) translateY(-50%);
  background-image: url("paint-night-main.jpeg");
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
    .main-cover h1 {
      font-size: 1.7rem;
    }
    .main-cover h5 {
      font-size: 1rem;
    }

    .main-cover h5 .text-truncat{
      white-space: wrap;
    }
}




